.selected {
	border:1px solid red;
}

.unselected {
	border: 1px solid black;
}

.charSummary {
	position:relative;
	border: 1px solid black;
	width:150;
	height:150;
}

.charSummary .cSAvatar {
	position:absolute;
	left:5;
	top:5;
	width:90;
	height:90;
}

.charSummary .cSDtlButton {
	position:absolute;
	left:5;
	bottom:5;
	width:140;
	height:20;
}

.charSummary .cSRankButton {
	position:absolute;
	right:5;
	top:5;
	width:45;
	height:45;
}

.charSummary .cSName {
	position:absolute;
	left:5;
	top:100;
	width:140;
	height:20;
}

.udHolder {
	position:relative;
	width:150;
	height:150;
	border: 1px solid black;
}

.udAvatar {
	position:absolute;
	left:0;
	top:0;
	width:75;
	height:75;
}

.udExp {
	position:absolute;
	left:0;
	top:115;
	height:8;
}

.udAct {
	position:absolute;
	left:0;
	top:105;
	height:8;
}


.udName {
	position:absolute;
	left:0;
	top:125;
	width:150;
	height:25;
}

.udType {
	position:absolute;
	left:125;
	top:0;
	width:25;
	height:25;
}

.udLvl {
	position:absolute;
	left:125;
	top:25;
	width:25;
	height:25;
}

.udGoto {
	position:absolute;
	left:125;
	top:75;
	width:25;
	height:25;
}

.mbContain {
	position:relative;
	width:200;
	height:225;
	border:1px solid Blue;
}

.mbBL {
	position:absolute;
	left:0;
	top:150;
	width:50;
	height:50;
}

.mbBC {
	position:absolute;
	left:75;
	top:150;
	width:50;
	height:50;
}

.mbBR {
	position:absolute;
	left:150;
	top:150;
	width:50;
	height:50;
}

.mbCL {
	position:absolute;
	left:0;
	top:75;
	width:50;
	height:50;
}

.mbCR {
	position:absolute;
	left:150;
	top:75;
	width:50;
	height:50;
}

.mbTL {
	position:absolute;
	left:0;
	top:0;
	width:50;
	height:50;
}

.mbTC {
	position:absolute;
	left:75;
	top:0;
	width:50;
	height:50;
}

.mbTR {
	position:absolute;
	left:150;
	top:0;
	width:50;
	height:50;
}

.mbBK {
	position:absolute;
	left:0;
	top:200;
	width:50;
	height:25;
}

.mbClear {
	position:absolute;
	left:75;
	top:200;
	width:50;
	height:25;
}

.mbSend {
	position:absolute;
	left:150;
	top:200;
	width:50;
	height:25;
}
